*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background: beige;
    height: 600px;
}
article {
    display: block;
}

.card{
    max-width: 200px;
    height: 100px;
    background-image: url("card.jpg");
    float: left;
    color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-right: 6px;
    -webkit-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.75);

}
.card h1 a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.card h1 a:hover{
    border-bottom: 4px solid yellow;
}

nav{
    margin: 0 auto;
    width: 500px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 22px;
}


.col{
    width: 50%;
    float: left;
}

.right{
    background: aqua;
    height: 573px;
}

footer{
    background: gray;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}